body {
    font-family: 'Roboto';
}

header {
    text-align: center;
    margin: 50px auto;
}

header p {
    color: #8c8c8c;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px #8c8c8c solid;
    padding-bottom: 0.5em;
}

h3 {
    font-weight: bold;
    margin-top: 2em;
}

p, h3 {
    font-size: 14px;
}

p, section {
    max-width: 700px;
}

p {
    margin: 1em auto;
}

section {
    margin: 100px auto;
}

h1 {
    font-size: 78px;
    font-weight: 100;
    margin-bottom: 70px;
}

@media (min-width: 768px) {
    .container {
        width: 1000px;
    }
}

footer, footer a:active, footer a:hover, footer a:visited, footer a:link {
    text-align: center;
    color: #c8c8c8;
}
